src/conf/xml-resources/web-services/NewWebServiceFromWSDL/wsdl/localhost_8080/AppServicioEntregaPaquete/ServicioEntrega.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ServicioENtrega/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ServicioENtrega/">

<xs:element name="Customers" type="tns:Customers"/>

<xs:element name="CustomersResponse" type="tns:CustomersResponse"/>

<xs:element name="OvernightPackage" type="tns:OvernightPackage"/>

<xs:element name="OvernightPackageResponse" type="tns:OvernightPackageResponse"/>

<xs:element name="Package" type="tns:Package"/>

<xs:element name="PackageResponse" type="tns:PackageResponse"/>

<xs:element name="TwoDayPackage" type="tns:TwoDayPackage"/>

<xs:element name="TwoDayPackageResponse" type="tns:TwoDayPackageResponse"/>

<xs:complexType name="Package">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0"/>
<xs:element name="sender" type="xs:int"/>
<xs:element name="recipients" type="xs:int"/>
<xs:element name="weigth" type="xs:string" minOccurs="0"/>
<xs:element name="cost" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PackageResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Customers">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="states" type="xs:string" minOccurs="0"/>
<xs:element name="box" type="xs:string" minOccurs="0"/>
<xs:element name="parameter1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CustomersResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="OvernightPackage">
<xs:sequence>
<xs:element name="additionalCharge" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="OvernightPackageResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TwoDayPackage">
<xs:sequence>
<xs:element name="fidexFee" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TwoDayPackageResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>